<h2>Пример работы с сервисом хранения справочников</h2>

На странице находятся несколько экземпляров компонента
<code>&lt;app-catalog&gt;&lt;/app-catalog&gt;</code>,
которые работают со справочниками.
Справочники могут повторяться в разных компонентах.

<app-catalog [apiUrl]="'/assets/data/cities.json'"></app-catalog>

<app-catalog [apiUrl]="'/assets/data/cities.json'"></app-catalog>

<app-catalog [apiUrl]="'/assets/data/stars.json'"></app-catalog>

<app-catalog [apiUrl]="'/assets/data/cities.json'"></app-catalog>

<app-catalog [apiUrl]="'/assets/data/cities.json'"></app-catalog>

<app-catalog [apiUrl]="'/assets/data/stars.json'"></app-catalog>

<app-catalog [apiUrl]="'/assets/data/cities.json'"></app-catalog>
